[["東京瓦斯-tos-1" :tos/full-text "個人情報保護方針 | 東京ガス 
 個人のお客さま 
 法人のお客さま 
 東京ガスネットワーク 
 企業・グループ情報 
 ローカルメニューへ移動 -->
 コンテンツへ移動 
 フッターへ移動 
 サイトマップへ移動 
 緊急時 
 よくある質問 
 Language 
 日本語 
 English 
 中文（发生险情时） 
 한글（긴급 시） 
 緊急時 
 メニュー 
 未来をつむぐ 
 未来をつむぐ
 未来をつむぐエネルギー 
 私たちの考えと取り組み 
 閉じる 
 会社案内 
 会社案内トップ 
 社長メッセージ 
 東京ガスグループ経営ビジョン 
Compass2030 
 理念・ビジョン・経営計画 
 グループ経営理念 
 マテリアリティ（経営課題） 
 経営ビジョン・中期経営計画 
 会社基本情報 
 会社概要・沿革 
 役員一覧 
 所在地一覧 
 主要グループ会社一覧 
 事業・取り組み 
 事業紹介 
 2050年、カーボンニュートラル社会実現へ 
 ソリューション事業ブランドIGNITURE 
 東京ガスグループ人的資本レポート 
 安全・防災 
 安全・防災 
 閉じる 
 サステナビリティ 
 サステナビリティトップ 
 統合報告書 
 サステナビリティファクトブック・ESGデータ 
 サステナビリティ経営 
 トップコミットメント 
 サステナビリティ経営 
 マテリアリティ 
 社外からの評価 
 ライブラリ 
 統合報告書 
 サステナビリティファクトブック 
 人権レポート 
 人的資本レポート 
 閉じる 
 株主・投資家情報 
 株主・投資家情報トップ 
 最新決算情報 
 中期経営計画 (PDF) 
 会​社​基本情報 
 財務・業績情報 
 IRライブラリー 
 株式・社債情報 
 コーポレート・ガバナンス 
 サポート情報 
 閉じる 
 R＆D 
 R&Dトップ 
 R&D一覧 
 オープンイノベーション 
 R&D一覧 
 エネルギーをつくる技術 
 エネルギーを上手につかう技術 
 エネルギーのインフラを支える技術 
 その他の技術 
 知的財産活動と外部表彰 
 知的財産活動 
 外部表彰実績 
 オープンイノベーション 
 東京ガスのオープンイノベーション 
 東京ガスにおけるオープンイノベーションの事例 
 閉じる 
 ニュース 
 採用情報 
 採用情報トップ 
 新卒採用 
 経験者採用 
 東京ガスグループの採用 
 グループ会社の採用 
 ダイバーシティ、エクイティ＆インクルージョン 
 ダイバーシティ、エクイティ＆インクルージョン推進 
 多様な働き方と生産性向上の実現 
 女性の活躍推進 
 東京ガスグループ人的資本レポート(PDF) 
 閉じる 
 未来をつむぐ 
 未来をつむぐエネルギー 
 私たちの考えと取り組み 
 会社案内 
 会社案内トップ 
 社長メッセージ 
 グループ経営理念 
 マテリアリティ（経営課題） 
 経営ビジョン・中期経営計画 
 経営ビジョンCompass2030 
 会社概要・沿革 
 役員一覧 
 所在地一覧 
 主要グループ会社一覧 
 事業紹介 
 2050年、カーボンニュートラル社会実現へ 
 ソリューション事業ブランドIGNITURE 
 東京ガスグループ人的資本レポート 
 安全・防災 
 サステナビリティ 
 サステナビリティトップ 
 トップコミットメント 
 サステナビリティ経営 
 マテリアリティ 
 統合報告書 
 サステナビリティファクトブック・ESGデータ 
 サステナビリティ活動事例 
 社外からの評価 
 東京ガスグループ人権レポート 
 東京ガスグループ人的資本レポート 
 株主・投資家情報 
 株主・投資家情報トップ 
 最新決算情報 
 中期経営計画 (PDF) 
 会​社​基本情報​ 
 財務・業績情報 
 IRライブラリー 
 株式・社債情報 
 コーポレート・ガバナンス 
 サポート情報 
 R&D 
 R&Dトップ 
 R&D一覧 
 オープンイノベーション 
 知的財産活動と外部表彰 
 採用情報 
 採用情報トップ 
 新卒採用 
 経験者採用 
 グループ会社の採用 
 ダイバーシティ、エクイティ＆インクルー ジョン推進 
 多様な働き方と生産性向上の実現 
 女性の活躍推進 
 東京ガスグループ人的資本レポート(PDF) 
 よくあるご質問 
 Language 
 日本語 
 English 
 中文（发生险情时） 
 한글（긴급 시） 
 SNSアカウント一覧 
 閉じる 
 個人情報保護方針 
 東京ガス株式会社（以下「弊社」といいます）は、個人情報を適切に保護し正しく取り扱うことが事業活動の基本であり、重要な社会的責務と考えております。その責務を果たすため、弊社は、個人情報保護方針を以下のとおり定め、個人情報の保護に最大限努力いたします。 
 法令等の遵守 
 弊社は、個人情報の保護に関する法律その他の関係法令・ガイドライン等を遵守するとともに、本個人情報保護方針および社内規程を整備し、継続的にその改善に努めます。 
 取得・利用 
 弊社は、業務を適切かつ円滑に遂行するため、個人情報を適正な手段により取得いたします。取得にあたり、ご本人に利用目的をあらかじめお知らせするとともに、利用目的の達成に必要な範囲内で利用いたします。 
 情報の管理 
 弊社は、個人情報の漏えい、滅失または毀損の防止その他の個人情報の安全管理のために必要かつ適切な措置を講じます。弊社が講じる安全管理措置には、次に掲げる事項が含まれます。 
 基本方針の策定 
 個人情報の適正な取扱いの確保のため、「関係法令・ガイドライン等の遵守」、「安全管理措置に関する事項」等について定める本個人情報保護方針を策定しています。 
 個人情報の取扱いに係る規律の整備 
 個人情報の取扱方法、個人情報保護の責任者・担当者およびその任務等について定める個人情報の取扱規程を策定しています。 
 組織的安全管理措置 
 個人情報の取扱いに関する責任者を設置するとともに、個人情報を取り扱う従業者および当該従業者が取り扱う個人情報の範囲を明確化し、個人情報の保護に関する法律や個人情報の取扱規程に違反している事実または兆候を把握した場合の責任者への報告連絡体制を整備しています。 
 個人情報の取扱状況について、定期的に自己点検を実施するとともに、監査部門による監査を実施しています。 
 人的安全管理措置 
 個人情報の取扱いに関する留意事項について、従業者に定期的な研修を実施しています。 
 個人情報についての秘密保持に関する事項を就業規則に記載しています。 
 物理的安全管理措置 
 個人情報を取り扱う区域において、従業者の入退室管理および持ち込む機器等の制限を行うとともに、権限を有しない者による個人情報の閲覧を防止する措置を実施しています。 
 個人情報を取り扱う機器、電子媒体および書類等の盗難または紛失等を防止するための措置を講じるとともに、事業所内の移動を含め、当該機器、電子媒体等を持ち運ぶ場合、容易に個人情報が判明しないよう措置を実施しています。 
 技術的安全管理措置 
 アクセス制御を実施して、担当者および取り扱う個人情報データベース等の範囲を限定しています。 
 個人情報を取り扱う情報システムを外部からの不正アクセスまたは不正ソフトウェアから保護する仕組みを導入しています。 
 外的環境の把握 
 個人情報を保管している外国における個人情報の保護に関する制度を把握した上で安全管理措置を実施しています。 
 第三者への提供 
 弊社は、法令・ガイドライン等により第三者への提供が認められている場合および委託・共同利用など第三者に該当しないとされている場合を除き、ご本人の同意を得ることなく、個人情報を第三者に提供いたしません。また、委託先等に提供する場合には、個人情報の管理に関して必要な水準を満たす者を選定し、個人情報保護に関する取り決めを行うとともに適切に監督いたします。 
 開示・訂正等 
 ご本人が、個人情報の開示・訂正等を希望される場合、弊社は、ご本人であることを確認させていただいた上で、法令・ガイドライン等に基づく合理的な範囲において、速やかに対応いたします。 
 情報送信指令通信について 
 当社では、電気通信事業法における第三号事業にあたる以下のWebサイトにおいて、以下のとおり情報送信指令通信を行っています。 
Webサイトごとの詳細は、以下をご確認ください。 
 Webサイト名 
 送信されることとなる利用者に関する情報の内容 
 情報の送信先となる電気通信設備を用いて当該情報を取り扱うこととなる者の氏名又は名称 
 送信されることとなる利用者に関する情報の利用目的 
【 送信元 （当社）】 
 送信されることとなる利用者に関する情報の利用目的 
【 送信先 】 
 東京ガスマンション買取査定サービス 
 年代、性別、地域（行政区単位）、利用デバイス、ホスト名・IPアドレス、閲覧サイト名、閲覧サイトのURL、閲覧ブラウザ、閲覧日時等 
 Google Inc. 
 当サービスの広告効果測定のため 
 当サービスの広告効果測定のため 
プライバシーポリシーは こちら 
利用規約は こちら 
 東京ガスの機器交換 
 年代、性別、地域（行政区単位）、利用デバイス、ホスト名・IPアドレス、閲覧サイト名、閲覧サイトのURL、閲覧ブラウザ、閲覧日時等 
 Google Inc. 
 ランディングページ、離脱率を解析するためのアクセスログ収集のため 
 当サービスの広告効果測定のため 
プライバシーポリシーは こちら 
利用規約は こちら 
 東京ガスのガス機器修理 
 年代、性別、地域（行政区単位）、利用デバイス、ホスト名・IPアドレス、閲覧サイト名、閲覧サイトのURL、閲覧ブラウザ、閲覧日時等 
 Google Inc. 
 当サービスの広告効果測定のため 
 当サービスの広告効果測定のため 
プライバシーポリシーは こちら 
利用規約は こちら 
 東京ガスの水まわり修理 
 年代、性別、地域（行政区単位）、利用デバイス、ホスト名・IPアドレス、閲覧サイト名、閲覧サイトのURL、閲覧ブラウザ、閲覧日時等 
 Google Inc. 
 当サービスの広告効果測定のため 
 当サービスの広告効果測定のため 
プライバシーポリシーは こちら 
利用規約は こちら 
 東京ガスの施設管理サービス 
 年代、性別、地域（行政区単位）、利用デバイス、ホスト名・IPアドレス、閲覧サイト名、閲覧サイトのURL、閲覧ブラウザ、閲覧日時等 
 Google Inc. 
 当社広告を当社以外のWebサイト上でお客さまに表示するため 
 当サービスの広告効果測定のため 
プライバシーポリシーは こちら 
利用規約は こちら 
 弁当注文.com 
 年代、性別、地域（行政区単位）、利用デバイス、ホスト名・IPアドレス、閲覧サイト名、閲覧サイトのURL、閲覧ブラウザ、閲覧日時等 
 Google Inc. 
 LPページ、離脱率を解析するためのアクセスログ収集のため 
 当サービスの広告効果測定のため 
プライバシーポリシーは こちら 
利用規約は こちら 
 PASPO.NET 
 年代、性別、地域（行政区単位）、利用デバイス、ホスト名・IPアドレス、閲覧サイト名、閲覧サイトのURL、閲覧ブラウザ、閲覧日時等 
 Google Inc. 
 LPページ、離脱率を解析するためのアクセスログ収集のため 
 当サービスの広告効果測定のため 
プライバシーポリシーは こちら 
利用規約は こちら 
 みらいほぷらっと 
 年代、性別、地域（行政区単位）、利用デバイス、ホスト名・IPアドレス、閲覧サイト名、閲覧サイトのURL、閲覧ブラウザ、閲覧日時等 
 Google Inc. 
 当社広告を当社以外のWebサイト上でお客さまに表示するため 
 当サービスの広告効果測定のため 
プライバシーポリシーは こちら 
利用規約は こちら 
 2005年4月1日制定 
2026年3月16日最終改定 
東京ガス株式会社 
 個人情報保護方針 
 お客さま情報について 
 個人情報の開示、訂正、利用停止等の手続き 
 各種証明書発行の手続き 
 株主さまの個人情報について 
 特定個人情報の適正な取扱いに関する基本方針 
 ページトップへ 
 東京ガス 
 企業情報 
 個人情報保護方針
 サイトマップ 
 このサイトのご利用について 
 個人情報のお取り扱いについて 
 ソーシャルメディアポリシー 
 電子公告 
 個人のお客さま 
 法人のお客さま 
 企業・グループ情報 
 東京ガスネットワーク 
 SNSアカウント一覧 
 Copyright© TOKYO GAS Co., Ltd. All Rights Reserved." 1 :add]
 ["東京瓦斯-tos-1" :tos/source-url "https://www.tokyo-gas.co.jp/utility/privacy/index.html" 1 :add]
 ["東京瓦斯-tos-1" :tos/retrieved-at "2026-07-19T07:43:09Z" 1 :add]
 ["東京瓦斯-tos-1" :tos/sha256 "f61b4c77423becba4114773778527b50ddf39fd7f733c5e371cd7e33c89e9385" 1 :add]
 ["東京瓦斯-tos-1" :tos/doc-type :privacy-policy 1 :add]]
